* {
    box-sizing: border-box;
}


/* Position the image container( needed to position the left and right arrows) */

.container {
    position: relative;
}


/* Hide images by default */

.slider {
    display: none;
}

.slider img {
    width: 100%;
    margin: 0 auto;
}


/* Add a pointer when hovering over the thumbnail images */

.cursor {
    cursor: pointer;
}


/* Next and previous button */

.prev,
.next {
    cursor: pointer;
    position: absolute;
    text-decoration: none;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}


/* On hover, add a black background color with a little bit see-through */

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}


/* Number text */

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}


/* Container for image text */

.container-caption {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: #fff;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}


/* Six column side by side */

.column {
    float: left;
    width: 16.66%;
}


/* Add a transparency effect for thumbnail images */

.demo {
    opacity: 0.6;
    width: 100%;
    height: 200px;
}

.active,
.demo:hover {
    opacity: 1;
}